:root {
    /* Colors by name */
    --white: light-dark(#fff, #000);
    --black: light-dark(#000, #fff);

    /* Colors */
    --color-bg: light-dark(#fff, #212529);
    --color-border: light-dark(#ced4da, #3c3f42);
    --color-text: light-dark(#30353c, #c1c3c5);
    --color-text-inverted: light-dark(#eae8e5, #0e0c0a);
    --color-muted: light-dark(#6c757d, #adb5bd);

    --color-primary: light-dark(#15171A, #ced4d9);
    --color-primary-hover: color-mix(in srgb, var(--color-primary), var(--white) 20%);

    --color-button-text: light-dark(#fff, #111);
    --color-link-text: color-mix(in srgb, var(--color-primary), var(--white) 10%);
    --color-link-text-hover: color-mix(in srgb, var(--color-link-text), var(--white) 20%);

    --color-error: light-dark(hsl(355, 61%, 21%), hsl(355, 70%, 72%));
    --color-error-bg: light-dark(hsl(355, 71%, 91%), hsl(355, 61%, 11%));
    --color-error-border: light-dark(hsl(355, 71%, 81%), hsl(355, 61%, 32%));

    --color-success: light-dark(hsl(153, 69%, 13%), hsl(152, 31%, 59%));
    --color-success-bg: light-dark(hsl(153, 31%, 86%), hsl(153, 69%, 6%));
    --color-success-border: light-dark(hsl(153, 31%, 73%), hsl(152, 69%, 19%));

    --color-warning: light-dark(hsl(46, 100%, 20%), hsl(45, 100%, 71%));
    --color-warning-bg: light-dark(hsl(46, 100%, 90%), hsl(46, 95%, 10%));
    --color-warning-border: light-dark(hsl(46, 100%, 80%), hsl(45, 95%, 31%));

    --color-input-bg: color-mix(in srgb, var(--color-bg), var(--black) 5%);

    /* Font sizes (our HTML base font size is 16px) */
    --font-size-xs: 0.75rem;   /* 12px */
    --font-size-sm: 0.875rem;  /* 14px */
    --font-size-base: 1rem;    /* 16px */
    --font-size-lg: 1.125rem;  /* 18px */
    --font-size-xl: 1.5rem;    /* 24px */
    --font-size-xxl: 2rem;     /* 32px */

    /* Spacing scale (vertical rhythm / layout) */
    --spacing-xxs: 0.25rem;   /* 4px */
    --spacing-xs: 0.5rem;     /* 8px */
    --spacing-sm: 0.75rem;    /* 12px */
    --spacing-md: 1rem;       /* 16px */
    --spacing-lg: 1.5rem;     /* 24px */
    --spacing-xl: 2rem;       /* 32px */
    --spacing-xxl: 3rem;      /* 48px */

    /* Border radius */
    --radius-xs: 0.25rem;   /* 4px */
    --radius-sm: 0.375rem;  /* 6px */
    --radius-md: 0.5rem;    /* 8px */
    --radius-lg: 1rem;      /* 16px */

    /* Line heights and layout */
    --line-height-base: 1.5;
    --container-width: 90%;
    --container-max-width: 50rem; /* ~1024px */

    /* Font weights */
    --font-weight-normal: 400;
    --font-weight-bold: 600;
}

:root[data-actual-color-scheme='light'] {
    --logo-url: url('/images/ghost-logo-dark-xs.png');
}
:root[data-actual-color-scheme='dark'] {
    --logo-url: url('/images/ghost-logo-light-xs.png');
}